.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  background-color:#dae0e6;
}


#main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
}

#second-header{
  margin-top: 38px;
  background-color: white;
}

.flex-container-1{
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.flex-container-1 > .flex-trending {
  /* border: 1.5px solid rgba(0,0,0,.3); */
  margin: 3px;
  border-radius: 5px;
  background-color: white;
}

.flex-container-2{
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  /* justify-content: center; */
}

.flex-container-2-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  align-items: flex-end;
}

.flex-container-2-2 > .flex-articles {
  border: 1px solid rgba(0,0,0,.3);
  margin: 3px;
  border-radius: 5px;
  background-color: white;
}

.flex-articles {
  width: 80%;
}

/* .flex-trending {
  
  list-style: none;
  max-width: 15%;
  
} */

/* .flex-trending + .flex-trending + .flex-trending + .flex-trending + .flex-trending {
  display: none;
} */

.flex-trending{
  display:none;
}
.flex-trending:nth-child(-n+4){
  display:block;
  list-style: none;
  max-width: 20%;
  align-content: center;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
  min-height: 210px;
}

.image {
  
    border-radius: 4px;
    /* width:  200px;
    height: 200px; */
    max-width: 100%;
    object-fit: contain;
  
}

.title{
  margin-left:5px;
  margin-right: 5px;
  height: 40px;
}


.flex-container-3 {
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  list-style: none;
}

.flex-container-3 > .flex-topics {
  border: 1px solid rgba(0,0,0,.3);
  margin: 3px;
  border-radius: 5px;
  background-color: white;
  min-width: 380px;
}

#loading {
  color: #202829;
}

.loading-dots {
  text-align: center;
  z-index: 5;

}
.dot {
  display: inline;
  margin-left: 0.2em;
  margin-right: 0.2em;
  position: relative;
  top: -1em;
  font-size: 3.5em;
  opacity: 0;
  animation: showHideDot 2.5s ease-in-out infinite;

 
}
.one { animation-delay: 0.0s; }
.two { animation-delay: 0.15s; }
.three { animation-delay: 0.3s; }

@keyframes showHideDot {
  0% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}


